.container {
  display: flex;
  width: 100%;
  height: 70px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rightSection {
  display: flex;
  align-items: baseline;
  padding-right: 30px;
  font-size: 16px;
}
.rightSection a {
  color: var(--cta);
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.rightSection a:hover {
  border-bottom: 1px solid var(--cta);  
  //color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .logo {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    justify-content: center;
  }
  .logo {
    height: 30px;
  }
  .rightSection {
      display: none;
  }
}
