.container {
  display: flex;
  width: 100%;
  height: 70px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rightSection {
  display: flex;
  align-items: baseline;
  padding-right: 30px;
  font-size: 14px;
}
.rightSection a {
  color: var(--cta);
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.rightSection a:hover {
  border-bottom: 1px solid var(--cta);
  //color: white;
  text-decoration: none;
}

.logout,
.doctor {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
  color: black !important;
}

.logout {
  background: #fafbfc;
  border: 1px solid var(--tertiary);
}

.doctor {
  color: white !important;
  background: #3d9c47;
  border: 1px solid var(--tertiary) !important;
}

.doctor:hover {
  background: #3d9c47;
  border: 1px solid var(--tertiary) !important;
}

.logout:hover {
  background: #fafbfc;
  border: 1px solid var(--tertiary) !important;
}

@media (min-width: 768px) {
  .logo {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    justify-content: center;
  }
  .logo {
    height: 30px;
  }
  .rightSection {
    display: none;
  }
}
